/* Contact */
.blog{
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url('../assets/images/blogs.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0px;
    margin:0px;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family:Helvetica;
   
    transform: scale(1);
    filter: brightness(1);
    color:white;
    transition: all 800ms ease-in-out;
}
.blog-wrapper{
    overflow: hidden;
    width: 100%;
}

.blog-container{
    display: inline;
    position: relative;
    
}
.recent h1{
    margin-top:10px;
    margin-bottom: 40px;
}

.card{
    margin-left:20%;
    margin-right: 40%;
    margin-top:20%;
}
/* Mobile View Contact image */
@media (max-width: 360px){
    .blog{
    
        height: 90px;
    }
    .contact h2{
        font-size: 25px;
        margin-left: 10px;
    }
}


.contact:hover{
    transform: scale(1.1);
}

.blog h2{
    color:white;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    margin-left:-73px;
    margin-top: 12%;
    
}
.contact p{
    margin-top:7%;
}

/* Contact-body */
nav{
    height: 10.5rem;
    position: relative;
   
}
.navbar{
    opacity: 0.7;
}
.nav-wrapper{
    position: absolute;
    padding-top: 20px;
}
.nav-link{
    font-weight: 400;
    font-family: Arial;
    color:rgb(0, 0, 0);
}

.nav-link:hover{
    color: #886D4A;
}

.contact-body{
    width: 100%;
    margin:0px;
    padding:0px;
    font-family: Helvetica, sans-serif;
    background: rgb(250, 249, 249);

}

.logo{
    top:0px;
    padding:0px;
    margin:0px;
    width:1.rem;
    height: 256px;
}


.contact-body h3{
    color: #886D4A;
}

.card{
    padding:28px;
    border: 1px solid #e1e1e1;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 2px #ddd;
    transition: all 400ms ease-in-out;
    margin-top:60px;
    margin-bottom: 100px;
}

.card:hover{
    box-shadow: 0px 0px 0px white;
}
.card-1{
    margin-left:20px;
}
.card-3{
    margin-right:20px;
}

.card-touch{
    border:1px solid #e1e1e1;
    height: 400px;
    background: white;
    border-radius: 10px;
}

.contact-icons-container{
    display: inherit;
}

.contact-icons-container p{
    position: absolute;
    margin-top: -30px;
    margin-left: 32px;
}

.card-img-top{
    height:300px;
}
.service-body .card{
    width:100%;
}
.service-body .card p{
    font-size: 18px;
}

.card-body{
    margin-top:20px;
}

.item-1{
    background: #886D4A;
    color: white;
}
.blog-body{
    background: #e2dfdf;
}


/* Button */
#submitbutton{
    width:144px;
    height:44px;
    font-size: 18px;
    background: #886D4A;
    border-radius: 20px;
}
#submitbutton:hover{
  
    background: rgb(53, 33, 6);
}

/* Scroll Bar */
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #886D4A;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 182, 85);  
    }


